{% extends "learning_logs/base.html" %}



{% block content %}
    <main class="px-3">
        <h1>Learning Log</h1>
        <p class="lead">This simply application has been created, to learn django framework.<br> You can do register, create own topics and added different entries.<br>If you want. Check my github account, using the button bellow.</p>
        
        <p class="lead">
        <a href="https://github.com/TKdev96/django_learning_log" target="_blank" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Source Code</a>
        </p>
    </main>
{% endblock content %}    
