{% extends "learning_logs/base.html" %}

{% block content %}
    <div class="px-4 pt-4 pb-4 border rounded">
        <a class="text-light" style="text-decoration: none;" href="{% url 'learning_logs:topic' topic.id %}"><h5>{{ topic }}</h5></a>
        <hr>

        <p>Dodaj wpis:</p>

        <form method='post' action="{% url 'learning_logs:new_entry' topic.id %}">
            {% csrf_token %}
            {{ form }}

            <p><button class="btn btn-primary rounded" name='submit'>Dodaj wpis</button></p>
        </form>
    </div>    
    
{% endblock content %}    